html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
}

.main{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main .container-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    column-gap: 1.4rem;
    row-gap: 1rem;
    max-width: 75%;
}

.main .profile{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main .profile img{
    width: 40px;
    border-radius: 50%;
}

.main .profile .profile_info{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.main .container-grid .comments{
    border-radius: 5px;
    padding: 20px;
    transition: all 200ms ease-in-out; 
}

.main .container-grid .comments:hover{
    transform: scale(1.02);
}

.main .container-grid .comment_one{
    background: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 15%;
    background-color: var( --moderate-violet);
    grid-column: span 2;
}

.main .container-grid .comment_two{
    background-color: var(--very-dark-grayish-blue);
}

.main .container-grid .comment_three{
    background-color: var(--white);
    grid-row: span 2;
    -webkit-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.31);
    -moz-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.31);
    box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.31);
}

.main .container-grid .comment_four{
    background-color: var(--white);
    -webkit-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.31);
    -moz-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.31);
    box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.31);
}

.main .container-grid .comment_five{
    background-color: var(--very-dark-blackish-blue);
    grid-column: span 2;
}

.main .container-grid .profile .profile_info .name{
    font-size: 1.6rem;
    font-weight: 600;
}

.main .container-grid 
.name_one, 
.name_two, 
.name_five{
    color: var(--white);
}

.main .container-grid  
.name_three,
.name_four{
    color: var(--very-dark-grayish-blue);
}

.main .container-grid .profile .profile_info .verified{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--light-gray-opacity);
}

.main .container-grid .quotations{
    padding: 1rem 0;
    line-height: 1.3;
    font-size: 1.8rem;
}

.main .container-grid 
.quotation_one,
.quotation_two{
    color: var(--light-gray);
}

.main .container-grid 
.quotation_three,
.quotation_four{
    color: var(--very-dark-grayish-blue);
}

.main .container-grid .quotation_five{
    color: var(--white);
}

.main .container-grid .feedback{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--light-gray-paragraphs);
}

.main .container-grid 
.feedback_card-white{
    color: var(--very-dark-grayish-blue);
}


